a {
    color: var(--highlight);
}
h1, h2, h3, h4, h5, h6 {
    color: var(--brand-color);
}
header {
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #app--icon {
        width: 60px;
        margin: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    > h3 {
        font-size: 1.6rem;
        font-weight: normal;
        text-align: center;
        margin-top: 1rem;
    }

    @media screen and (min-width: 580px) {
        h1 {
            font-size: 4rem;
        }

        > h3 {
            font-size: 2rem;
        }
    }
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
.wrapper {
    width: 95%;
    height: 80%;
    border: 5px solid var(--brand-color);
    max-width: 960px;
}
.robot--selector {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    background-color: var(--brand-color);
}
.container__bluetooth--icon {
    display: none;
    width: 50px;
    height: 50px;
    background-color: var(--secondary-highlight);
    margin-right: 1%;
    padding: 1%;
    border-radius: 50%;
}
.bluetooth--icon {
    background-image: url('../img/ble-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    display: block;
}
.otto--robots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 80%;
    background-color: #C3C7D5;
    border-radius: 23px;
    gap: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.otto--robots div {
    margin: 0 auto;
}
.container__setting--icon, .container__arduino--icon, .container__calibration--icon {
    width: 80px;
    height: 80px;
    padding: 1%;
}
.setting--icon, .codes--icon, .calibration--icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 80%;
    height: 80%;
    display: block;
}
.setting--icon {
    background-image: url('../img/setting-icon.svg');
}
.codes--icon {
    background-image: url('../img/arduino-download-btn.png');
}
.calibration--icon {
    background-image: url('../img/calibration.svg');
}
.calibration-screen {
    height: 80vh;
}
.robot--icon:hover, .arrow:hover, .stop--button:hover, .setting--icon:hover, .codes--icon:hover, .calibration--icon:hover {
    cursor: pointer;
    transition: 200ms ease transform;
    transform: scale(0.8);
}
.robot--controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65%;
}
.green--mask {
    background-color: var(--highlight);
    opacity: 0.5;
    z-index: 1;
    padding: 1%;
}
.gamepad {
    display: flex;
    width: 70%;
    height: 90%;
    border: 10px solid var(--brand-color);
    border-radius: 23px;

    #joystick--canvas {
        padding-top: 5rem;
    }

    .dir--keys {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
        height: 100%;
    }

    > h3 {
        text-align: center;
        font-size: 2rem;
    }

}

.top, .middle, .bottom {
    display: flex;
    justify-content: center;
    margin: 2%;
}
.middle span {
    margin: 0 2%;
}
.arrow {
    background-image: url(../img/arrow-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    background-color: var(--highlight);
    border-radius: 50%;
}
.stop--button {
    background-image: url(../img/square-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 10%;
}
.left {
    rotate: -90deg;
}
.right {
    rotate: 90deg;
}
.down {
    rotate: 180deg;
}
.gamepad .lever {
    display: none;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider--container {
    width: inherit;
    transform: translate(-50%, -50%)rotate(270deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 12px;
    background: var(--brand-color);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 24.5px;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 11px;
    height: 32px;
    background: var(--highlight);
    cursor: pointer;
    border-radius: 5.5px;
}
.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 11px;
    height: 32px;
    background: var(--highlight);
    cursor: pointer;
    border-radius: 5.5px;
}
#sensors--dashboard {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
#functions--robot {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: baseline;
}
.gamepad .functions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
}
::-webkit-scrollbar-track {
    -webkit-background: var(--background);
    background: var(--background);
}
::-webkit-scrollbar-thumb {
    -webkit-background: var(--brand-color);
    background: var(--brand-color);
}
::-webkit-scrollbar-thumb:hover {
    -webkit-background: var(--highlight);
    background: var(--highlight);
}
#ultrasound, #infrared {
    margin: 15% 10% 0% 10%;
}
#ultrasound:hover, #infrared:hover {
    cursor: pointer;
}
.link{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.bubble{
    visibility: hidden;
    width: 70%;
    background-color: #32d900;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 15%;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 1.4rem;
    color: #fff;
}
.bubble::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #32d900 transparent transparent transparent;
}
.link:hover .bubble{
    visibility: visible;
    opacity: 0.5;
}
.functions .txt {
    color: var(--brand-color);
    font-size: 1.5rem;
    margin-right: 1rem;
}
input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}
.toggle {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 15px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
    margin: 0 auto;
}
.toggle:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}
input:checked + .toggle {
    background: #32d900;
}
input:checked + .toggle:after {
    left: calc(100% - 1px);
    transform: translateX(-100%);
}
.toggle:active:after {
    width: 32.5px;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer span {
    font-size: 1.5rem;
    padding: 0;
}
footer span em {
    cursor: pointer;
}
.footer--logo {
    width: 85px;
}
footer .contact--icon {
    z-index: 2;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0 2rem 2rem 0;
    width: 12rem;
}
footer img:hover {
    cursor: pointer;
    transform: scale(0.9);
}
footer ul {
    list-style-type: none;
    display: flex;
}
footer ul li {
    font-size: 1.6rem;
    margin: 0 1rem;
}
#OttoEmotions, #OttoHumanoid, #OttoSmart, #OttoQuad {
    opacity: 0.1;
}
.otto--gesture {
    font-size: 1.4rem;
    padding: 1rem;
    margin: 0.5rem;
    -webkit-appearance: none;
    appearance: none;
    background-color: #32d900;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
}
.otto--gesture:focus {
    outline: 0;
}
.otto--gesture:before, .otto--gesture:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}
.otto--gesture:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #32d900 20%, transparent 20%), radial-gradient(circle, transparent 20%, #32d900 20%, transparent 30%), radial-gradient(circle, #32d900 20%, transparent 20%), radial-gradient(circle, #32d900 20%, transparent 20%), radial-gradient(circle, transparent 10%, #32d900 15%, transparent 20%), radial-gradient(circle, #32d900 20%, transparent 20%), radial-gradient(circle, #32d900 20%, transparent 20%), radial-gradient(circle, #32d900 20%, transparent 20%), radial-gradient(circle, #32d900 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.otto--gesture:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #32d900 20%, transparent 20%), radial-gradient(circle, #32d900 20%, transparent 20%), radial-gradient(circle, transparent 10%, #32d900 15%, transparent 20%), radial-gradient(circle, #32d900 20%, transparent 20%), radial-gradient(circle, #32d900 20%, transparent 20%), radial-gradient(circle, #32d900 20%, transparent 20%), radial-gradient(circle, #32d900 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.otto--gesture:active {
    transform: scale(0.9);
    background-color: #2cc000;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.otto--gesture.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}
.otto--gesture.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}
.tumbler-wrapper {
    width: 50px;
    height: 30px;
    background-color: black;
    border: darken(#aae2f1, 40);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
    cursor: pointer;
    display: flex;
    position: relative;
}
.tumbler-wrapper svg {
    width: 15px;
    height: 15px;
}
.tumbler {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform .5s, background-color .5s;
    will-change: transform;
}
.sun-svg, .moon-svg {
    display: none;
}
.tumbler-night {
    transform: translateX(calc(100% - 2px));
}
@keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
@keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
.swal2-popup {
    background-color: var(--background)!important;
}
.swal2-icon, .swal2-info {
    color: var(--highlight)!important;
    border-color: var(--highlight)!important;
}
.swal2-confirm {
    background-color: var(--highlight)!important;
}
.swal2-styled.swal2-deny, .swal2-styled.swal2-cancel {
    background-color: var(--secondary-highlight)!important;
}
.swal2-title {
    color: var(--brand-color)!important;
}
#swal2-content, #swal2-html-container {
    color: var(--text);
}