* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    background-color:var(--background);
    font-family: $font-primary;
    font-size: 62.5%;
    overflow: hidden;
    color: var(--text);
}